* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: "Neue Montreal";
    /* height: fit-content; */
}

.home {
    overflow: hidden;
}

/* menu */
nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.menu__logo, .menu__items-link {
    padding: 40px;
}

.menu__logo a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__items {
    display: flex;
}

.menu__items-link a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.menu__items-link.active a {
    text-decoration: underline;
}

/* horizontal scroll items  */

.container {
    margin-top: 200px;
    margin-left: 200px;
}

.container__item {
    position: relative;
    width: 540px;
    height: 360px;
    margin: 50px 500px 20px 80px;
}

/* about page styles */



/* project section */

.project__container {
    width: 70%;
    margin: 100px auto;
    /* border: 1px solid #5c5c5c; */
    color: #fff;
    padding: 120px 40px;
    text-align: center;
}

.project__container-title h1{
    color: #fff;
    font-family: "GrandSlang Roman";
    font-size: 110px;
}

.project__container-subtitle {
    margin: 20px 0;
    font-family: "Neue Montreal";
    font-size: 16px;
}

.project__container-images {
    position: relative;
    width: 100%;
    height: 2000px;
    padding: 40px 0;
}

.project__image {
    background: red;
    width: 450px;
    height: 635px;
    margin: 40px auto;
}

.project__image-one {
    background: url(../images/invites/spider.png) no-repeat 50% 50%;
    background-size: cover;
    /* object-fit:scale-down; */
}

.project__image-two {
    position: relative;
    top: -100px;
  
    left: -260px;
    background: url(../images/invites/hsg1.png) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-three {
    top: -100px;
    position: relative;
    width: 800px;
    height: 450px;
    left: 300px;
    background: url(../images/invites/thumbnail6.png) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-four {
    position: relative;
    top: -250px;
    left: -200px;
    background: url(../images/invites/hsg2.png) no-repeat 50% 50%;
    background-size: cover;
}


.project-next-link {
    position: relative;
    bottom: -15vh;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-next-link a {
    color: #fff;
    text-decoration: none;
    font-family: "GrandSlang Roman";
    font-size: 160px;
}

.anime-js-title .letter {
    display: inline-block;
    line-height: 1em;
}

@media(max-width: 900px) {
    .project__container-title h1 {
        font-size: 40px;
    }

    .project__container {
        width: 80%;
    }

    .project__container-images {
        width: 100%;
        margin: 0 auto;
    }

    .project__image {
        width: 90%;
    }

    .project__image-one, .project__image-two, .project__image-three, .project__image-four {
        position: relative;
        top: 0;
        left: 0;
    }
}